on early-boot
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

on boot
    chmod 0666 /dev/xiaomi-fp
    chown system system /dev/xiaomi-fp
    chmod 0666 /dev/mifp_id
    chown system system /dev/mifp_id
    chmod 0666 /dev/input/event2
    chown system system /sys/bus/platform/devices/soc:xiaomi_fingerprint/intr2
    chmod 0666 /sys/bus/platform/devices/soc:xiaomi_fingerprint/intr2

on post-fs-data
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/misc/mi_fp 0770 system system
    mkdir /persist/mi_fp 0770 system system
    mkdir /mnt/vendor/persist/mi_fp 0770 system system
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system
    mkdir /data/vendor/fpdump/qfs4008 0770 system system
    mkdir /mnt/vendor/persist/fingerprint/meta 0770 system system
